### Get the last no

In [1]:
a=12345
print(a%10)

5

### flow of executing the numeric data

In [6]:
#pemdas # paranthsis,exponential,mul,division additiona nd sub
print(3*3+3/3-1+2**2)

13.0

### converting to  list of dictionaries

In [14]:
a=[1,2,3,4]
b=["apple","mango","banana"]
c=[{i:j} for i,j in zip(a,b)]
c

[{1: 'apple'}, {2: 'mango'}, {3: 'banana'}]

### converting two lists to dictonaries

In [57]:
keys = ['ID', 'Name', 'Age', 'Salary']
values = [1, 'John', 25, 50000]

result_dict = dict(zip(keys, values))

print(result_dict)

{'ID': 1, 'Name': 'John', 'Age': 25, 'Salary': 50000}

### list comphrehension

In [16]:
a=[i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### dictionry comphrehension

In [27]:
a={i:i**3 for i in range(1,10)}
a

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

### random

In [48]:
import random
l=[1,2,3,4,5,6]
random_num=random.choice(l)
print(random_num)
random.shuffle(l)
print(l)

3
[2, 6, 4, 5, 3, 1]

### enumerate

In [51]:
a=["linux","devops","python","java","rust"]
for i in enumerate(a):
    print(i)
print("=============")
my_list = ['apple', 'banana', 'orange']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

(0, 'linux')
(1, 'devops')
(2, 'python')
(3, 'java')
(4, 'rust')
=============
Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: orange

### occurence of value

In [53]:
from collections import Counter
a=[1,1,2,3,1,2,3,4]
print(Counter(a))

# 2nd method
d={}
for i in a:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
print(d)

Counter({1: 3, 2: 2, 3: 2, 4: 1})
{1: 3, 2: 2, 3: 2, 4: 1}

 ### iterator and generator

In [65]:
a=[1,2,3,4,5]
b=iter(a)
next(b)


#generator
def hello(n):
    for i in range(2,n):
        yield i**2  # it will make iterator
a=hello(4)
next(a)
# for i in hello(4):
#     print(i)

4

### sorted and sort

In [69]:
a=[3,2,1,4]
print(sorted(a))
print(a)

b=[5,3,21,2,1]
b.sort()
print(b)

[1, 2, 3, 4]
[3, 2, 1, 4]
[1, 2, 3, 5, 21]

### decorator

In [79]:
def main(fun):
    def sub():
        print("added som e functionality")
        a=fun()
        mod=a.upper()
        print(mod)
        print("added some functionality after deployment code")
    return sub 
@main

def hello():
    return "this is the deployment code"
hello()

added som e functionality
THIS IS THE DEPLOYMENT CODE
added some functionality after deployment code

### convert list to string

In [89]:
a=[1,2,3,4,5]
b=""
for i in a:
    b=b+str(i)
print(b)
# 2nd method
c=""
for i in a:
    c=c+"".join(str(i))
print(c)

12345
12345

### swap two no

In [57]:
a=2
b=3
temp=a #2
a=b #a=3
b=temp
print(a,b)

3 2

### break and continue

In [93]:
a=[1,2,3,4,5]
for i in a:
    if i==5:
        break
    print(i)
print("=================")
for j in a:
    if j==2:
        continue
    print(j)

1
2
3
4
=================
1
3
4
5

### factorial

In [96]:
a=1
for i in range(5,0,-1):
    a=a*i
print(a)

120

### Prime no

In [98]:
for i in range(5,30):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

5
7
11
13
17
19
23
29

In [55]:
a=int(input("Enter the no: "))  # 5

if a==1:
        print("Not a prime no")
else:
    for i in range(2,a):
        if a%i==0:
            print("Not a prime no")
            break
    else:
        print(f" {a} is prime no")

Enter the no:  4

Not a prime no

In [61]:
def is_prime(num):
    if num<=0:
        return False
    if num==1:
        return False
    else:
        for i in range(2,num):
            if num%i==0:
                return False
        else:
            return True
is_prime(0)

False

# pickling and unpickling

In [103]:
#pickle---> object to bytes
#unpickle --->bytes to objets
#note objects whi aaare not loaded into files can not be transferred to server or other location 
import pickle
a=[1,2,345,45]
byte=pickle.dumps(a)
print(byte)

print("### unpickling ######") 
l=pickle.loads(byte)
l

b'\x80\x04\x95\x0e\x00\x00\x00\x00\x00\x00\x00]\x94(K\x01K\x02MY\x01K-e.'
### unpickling ######

[1, 2, 345, 45]

In [58]:
import pickle
a = [1, 2, 3, 4, 5, 89]
with open("obj_byte.txt", "wb") as f:
    pickle.dump(a, f)

#unpickling 
with open("obj_byte.txt", "rb") as f:
    data=pickle.load(f)
    print(data)


#pickle.dumps() --->obj-bytes 
#pickle.loads()-->byte-->obj
#pickle.dump()--->obj--bytes(stores in files)
#pickle.load()-->byte--object(reads from file)

[1, 2, 3, 4, 5, 89]

### json serialzation and deserialization

In [117]:
# converting object to string 
import json
a=[1,2,3,4]
b=json.dumps(a)   
print(type(b))

c=json.loads(b)  # string to object 
print(type(c))

<class 'str'>
<class 'list'>

In [128]:
import json
a=[1,2,3,4]
with open("json_se.txt","w") as f:
    json.dump(a,f)

with open("json_se.txt","r") as f:
    data=json.load(f)
print(data,type(data))

[1, 2, 3, 4] <class 'list'>

### summing each element

In [130]:
a=[1,2,3,4]
b=[a[0]]
c=0
for i in range(1,len(a)):
    b.append(a[i]+a[i-1])
print(b)

[1, 3, 5, 7]

### filter map

In [132]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Using map to square each element
squared_numbers = list(map(lambda x: x**2, numbers))
print("Squared Numbers:", squared_numbers)

# Using filter to keep only even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even Numbers:", even_numbers)

Squared Numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81]
Even Numbers: [2, 4, 6, 8]

In [134]:
friends = [("Rachel",19),
           ("Monica",18),
           ("Phoebe",17),
           ("Joey",16),
           ("Chandler",21),
           ("Ross",20)]

age= lambda data:data[1]>18
res=list(filter(age,friends))
res

[('Rachel', 19), ('Chandler', 21), ('Ross', 20)]

In [135]:
friends = [("Rachel",19),
           ("Monica",18),
           ("Phoebe",17),
           ("Joey",16),
           ("Chandler",21),
           ("Ross",20)]

age= lambda data:data[1]*2
res=list(map(age,friends))
res

[38, 36, 34, 32, 42, 40]

### reduce

In [13]:
import functools
a=[1,2,3,4,5]
res=functools.reduce(lambda x,y:x+y,a)
res

15

### shallow copy

In [60]:
lst1=[[1,2,3,4],[5,6,7,8]]
lst2=lst1.copy()
lst1[1][0]=100
lst1

[[1, 2, 3, 4], [100, 6, 7, 8]]

In [61]:
lst2

[[1, 2, 3, 4], [100, 6, 7, 8]]

### deep copy

In [64]:
lst1=[[1,2,3],[3,4,5,],[5,6,7]]
lst2=copy.deepcopy(lst1)
lst2

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

In [65]:
lst2[1][0]=100

In [68]:
lst2

[[1, 2, 3], [100, 4, 5], [5, 6, 7]]

In [69]:
lst1

[[1, 2, 3], [3, 4, 5], [5, 6, 7]]

### adding element to tuples of list

In [8]:
a=(1234,"hello",[1,2,3])
a[-1].append(2)
print(a)

(1234, 'hello', [1, 2, 3, 2])

### while

In [143]:
name=input("enter your name")
while name =="":
    print("please neter your name ")
    name=input("enter your name")
print(f"hello,{name}")

enter your name

please neter your name

enter your name

please neter your name

enter your name jav

hello,jav

### rock paper scissor game

In [176]:
import random
while True:
    choices=["rock","paper","scissor"]
    computer=random.choice(choices)
    player=None
    while player not in choices:
       player=input("Enter rock ,paper,scissor ")
    # print(f"Player: {player}")
    # print(f"computer: {computer}")
    if player==computer:
        print(f"Player: {player}")
        print(f"computer: {computer}")
        print("Tie!")
    elif player=="rock":
        if computer=="scissor":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you won ")
        if computer=="paper":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you loose")
            
    elif player=="paper":
        if computer =="rock":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you loose")
        if computer=="scissor":
             print(f"Player: {player}")
             print(f"computer: {computer}")
             print("you won")
    elif player=="scissor":
        if computer =="rock":
            print(f"Player: {player}")
            print(f"computer: {computer}")
            print("you loose")
        if computer=="paper":
             print(f"Player: {player}")
             print(f"computer: {computer}")
             print("you won ")
    play_again=input("you want to play agai-->yes/no:").lower()
    if play_again!="yes":
            break
print("Bye")

Enter rock ,paper,scissor  rock

Player: rock
computer: paper
you loose

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  rock

Player: rock
computer: paper
you loose

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  rock

Player: rock
computer: scissor
you won

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  paper

Player: paper
computer: paper
Tie!

you want to play agai-->yes/no: yes
Enter rock ,paper,scissor  paper

Player: paper
computer: rock
you loose

you want to play agai-->yes/no: no

Bye

### oops instant varibales,class varibale

In [17]:
class Hello:
    inputs=3   # class vaiables
    def __init__(self,name,address,dep):
        self.name=name   # instant variables 
        self.address=address # instant variables 
        self.dep=dep # instant variables 
    def info(self):
        print("sample oops programe")
object1=Hello("joe","delhi","cse")
object1.name
object1.address
# print(Hello.inputs) -->3

3

In [194]:
object1.info()

sample oops programe

In [196]:
object1.inputs  # accesing class variables

3

### inheritence

In [200]:
class Animal:
    alive=True
    def eat(self):
        print("this animal is eating")
    def swim(self):
        print("this animal can swin")
class Rabbit(Animal):
    def r_info(self):
        print("This is rabbit")
class Fish(Animal):
    def f_info(self):
        print("this is fish")
class eagle(Animal):
    def e_info(self):
        print("this is eagle")
    
rabbit=Rabbit()
rabbit.eat()
rabbit.r_info()
rabbit.alive

this animal is eating
This is rabbit

True

### multilevel inheritence

In [30]:
class Grand:
    amount=4000
    def ginfo(Self):
        print("this is grand parent ")
class Parent(Grand):
    def pinfo(self):
        print("this is parent info")
class child(Parent):
    def cinfo(self):
        print("this is the child info")

obj=child()
obj.cinfo()
obj.pinfo()
obj.ginfo()
obj.amount

this is the child info
this is parent info
this is grand parent

4000

### multiple inheritecne

In [28]:
class Father:
    amount=2000
    def finfo(self):
        print("thsi is fatehr info")
class Mother:
    def minfo(self):
        print("this sis the mother info")
class Child(Father,Mother):
    def cinfo(self):
        print("this is the child info")
obj=Child()
obj.minfo()
obj.finfo()

this sis the mother info
thsi is fatehr info

### method overriding

In [21]:
class Animal:
    def eat(self):
        print("This animal is eating")
class Rabbit(Animal):
    def eat(self):   # mthod overriding
        
        print("This rabbit is eating a carrot")
rabbit = Rabbit()
rabbit.eat()

This rabbit is eating a carrot

### super method

In [35]:
class Animal:
    def eat(self):
        print("This animal is eating")
class Rabbit(Animal):
    def eat(self):   # mthod overriding
        print("This rabbit is eating a carrot")
        super().eat()
        
rabbit = Rabbit()
rabbit.eat()

This rabbit is eating a carrot
This animal is eating

### abstract class and method

In [40]:

from abc import ABC,abstractmethod
class cars(ABC):
    def show(self):
        print("cars has 4 wheels")
    @abstractmethod
    def speed(self):
        pass
class bmw(cars):
    def speed(self):
        print("speed is 60km/hr")
class suzuki(cars):
    def speed(self):
        print("spped is 90km/hr")

obj=bmw()
obj.show()
obj.speed()

cars has 4 wheels
speed is 60km/hr

In [2]:
class helo:
    _a=10
    __a=35
    def  info(self):
        print("hellwoorld")
obj=helo()
obj.info()
obj._a
#obj.__a  #cant access

hellwoorld

10

### pancard validator

In [28]:
# The PAN card number is a 10-character alphanumeric code.
# The first five characters are letters (in uppercase).
# The next four characters are numbers.
# The last character is a letter.
def display_invalid_message():
    print("Sorry, your PAN card is invalid.")
def pan_validator(pan_number):
    if len(pan_number) != 10:
        return display_invalid_message()

    for i in range(5):
        if not pan_number[i].isalpha() or not pan_number[i].isupper():
            return display_invalid_message()
            
    for i in range(5, 9):
        if not pan_number[i].isdigit():
           return display_invalid_message()
    if not pan_number[-1].isalpha() or not pan_number[-1].isupper():
        return display_invalid_message()

    return "Pancard is valid"

user = input("Enter your PAN card number: ")
res = pan_validator(user)
res

Enter your PAN card number:  CEKPM4567S

'Pancard is valid'

### amstrong no

In [37]:
a=153  
b=str(a)
l=len(b)
res=sum([ int(i)**l for i in b])
if res==a:
    print("amstrong no")
else:
    print("Not amstrog ")

amstrong no

### python script to find the path is file or directory

In [1]:
import os 
path=input("enter your path")
if os.path.exists(path):
    print("path exists")
    if os.path.isfile(path):
        print("path is having a file")
    else:
        print("path is a dir")
else:
    print("path doesnot exists")

enter your path C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

path exists
path is a dir

### python script to find the content in a path(all dir and the files)

In [3]:
import os 
path=input("enter the path ")
if os.path.exists(path):
    print("path exists")
    print(os.listdir(path))
else:
    print("path does not exists")

enter the path  C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

path exists
['.ipynb_checkpoints', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']

### python script to find the dir and files in a path

In [6]:
import os,sys
path=input("Enter the path ")
if os.path.exists(path):
    print("path exists")
    for i in os.listdir(path):
        complte_path=os.path.join(path,i)
        if os.path.isfile(complte_path):
            print(f"{complte_path} -----> file")
        else:
            print(f"{complte_path} ------> dir")
else:
    print("path does not exists")
    exit

Enter the path  C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

path exists
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\.ipynb_checkpoints ------> dir
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\json_se.txt -----> file
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\obj_byte.txt -----> file
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\python.ipynb -----> file

### print index along with its values in list

In [11]:
a=[1,2,3,445,4,5,"hi"]
for index,val in enumerate(a):
    print(f"index:{index}--->{val}")

index:0--->1
index:1--->2
index:2--->3
index:3--->445
index:4--->4
index:5--->5
index:6--->hi

### list all the files in dir

In [18]:
import os 
path=input("enter the  path")
re=os.listdir(path)
re

enter the  path C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

['.ipynb_checkpoints', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']

### python script to find .py.sh.. extension files in directory

In [25]:
import os
path=input("Enter the path")
if os.path.exists(path):
    print("valid path")
    if os.path.isfile(path):
        print("But Please pass the  directory")
        exit
    else:
        r=os.listdir(path)
        if len(r)==0:
            print("there are no files")
        else:
            files=[]
            ext=input("Enter your extension")
            for i in r:
               if i.endswith(ext):
                   files.append(i)
            if len(files)==0:
                print(f"There are no file with the extension {ext}")
            else:
                for i in files:
                    print(i)      
else:
    print("invalid path")

Enter the path C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\json_se.txt

valid path
But Please pass the  directory

###  non repeated values form list

In [38]:
a=[1,2,2,4,4,5,2,1,2,4,7,7,8] 
for i in a:
    if a.count(i)==1:
        print(i,end=" " )

5 8

### sorting in alpha numeric

In [54]:
a="A5D2B1"
al=[]
num=[]
for i in a:
    if i.isalpha():
        al.append(i)
    else:
        num.append(i)
print(al)
print(num)

['A', 'D', 'B']
['5', '2', '1']

In [62]:
c=sorted(al)+sorted(num)
print("".join(c))

ABD125

### get the elements from which are repeated mor than 3

In [64]:
a=["cat","hat","cat","apple","cat","apple","pat","cat","hat","hat"]
b=[]
for i in a:
    if a.count(i)>=3:
        b.append(i)
print(list(set(b)))

['hat', 'cat']

### conevrt to binary and reverse the bits

In [70]:
a=50
b=bin(a)
b

'0b110010'

In [77]:
c=b[2:]
print(c)
print(type(c))

110010
<class 'str'>

In [82]:
d=""
for i in c:
    if i=="1":
        d=d+"0"
    else:
        d=d+"1"
d

'001101'

### Initialize max_product with the product of  two elements

In [94]:
a = [1, 2, 3, 4, 5, 9, 8]
b=0
pair = []
for i in range(len(a)):
    for j in range(i+1, len(a)):
        product = a[i] * a[j]
        if product > b:
            b = product
            pair=[a[i],a[j]]
pair

[9, 8]

In [95]:
b

72

### sum of two index vlaues must be eaual to nth value

In [20]:
a=[2,7,6,7,8,2]
n=9
res=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n and len(res)==0:
            res.append(i)
            res.append(j)
res

[0, 1]

### a3b4c5 ---> aaabbbbccccc

In [104]:
a="a3b4c5"
al=[]
num=[]
for i in a:
     if i.isalpha():
         al.append(i)
     else:
         num.append(int(i))
c=""
for a,v in zip(num,al):
     c=c+a*v
c

'aaabbbbccccc'

### make alpha and numeric into seperate list

In [110]:
a=["appl23e1224","2844ban45ana","o45range48739"]
xx=[]
yy=[]
for i in a:
    al=""
    num=""
    for j in i:
        if j.isalpha():
            al=al+j
        else:
            num=num+j
    xx.append(al)
    yy.append(num)
xx

['apple', 'banana', 'orange']

In [111]:
yy

['231224', '284445', '4548739']

### [1,23,45,55,21] ---------> # [1, 5, 9, 10, 3]

In [121]:
a=[1,23,45,55,21]
b= [str(i) for i in a]
c=[]
for j in b:
    z=0
    for k in j:
        z=z+int(k)
    c.append(z)
c

[1, 5, 9, 10, 3]

### "my45name89is"  ------>si45eman45ym

In [131]:
a="my45name89is"
#si45eman45ym
b=[ i for i in reversed(a) if i.isalpha()]
c=""
i=0
for j in a:
    if j.isalpha():
        c=c+b[i]
        i=i+1
    else:
        c=c+j
c

'si45eman89ym'

In [138]:
a="this is pytho practice"
b=a.split()
c=" ".join([i[::-1] for i in a.split()])
print(c)

siht si ohtyp ecitcarp

### adding two list

In [142]:
s1=[1,2,3,4]
s2=[3,4,5,6]
a=[]
for i,j in zip(s1,s2):
    print(i,j)
    a.append(i+j)
print(a)

1 3
2 4
3 5
4 6
[4, 6, 8, 10]

### print some thing without using print function

In [146]:
import sys

In [145]:
dir(sys.stdout)

['__abstractmethods__',
 '__annotations__',
 '__class__',
 '__del__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_abc_impl',
 '_buffer',
 '_buffer_lock',
 '_checkClosed',
 '_checkReadable',
 '_checkSeekable',
 '_checkWritable',
 '_exc',
 '_flush',
 '_flush_buffer',
 '_flush_pending',
 '_hooks',
 '_io_loop',
 '_is_master_process',
 '_isatty',
 '_local',
 '_master_pid',
 '_rotate_buffer',
 '_schedule_flush',
 '_setup_stream_redirects',
 '_should_watch',
 '_subprocess_flush_pending',
 '_watch_pipe_fd',
 'close',
 'closed',
 'detach',
 'echo',
 'encoding',
 'errors',
 'fileno',
 'flush',
 'flush_interval',
 'flush_timeout',
 'isatty',
 'name',
 'newlines',
 'parent_header',
 'pub_thread',
 'read',
 'readable',
 'readline',
 'readlines',
 'register_hook',
 'seek',
 'seekable',
 'session',
 'set_parent',
 'softspace',
 'tell',
 'topic',
 'truncate',
 'unregister_hook',
 'writable',
 'write',
 'writelines']

In [152]:
sys.stdout.writelines("helloworld")

helloworld

### list common values from two list

In [156]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
list3=[]
for i in list1:
    if i in list2:
        list3.append(i)
list3

[4, 5]

### mergind tow dictinaries

In [168]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict3={**dict1,**dict2}
dict3

{'a': 1, 'b': 3, 'c': 4}

In [172]:
a=["virat kohli","rohit sharma","yuvraj singh","shubam gill"]
b=sorted(a,key=lambda x:x.split()[1])
b

['shubam gill', 'virat kohli', 'rohit sharma', 'yuvraj singh']

### "aaaabbbccc"--->4a3b3c

In [5]:
a="aaaabbbccc"
b=a[0]
c=1
d=""
for i in range(1,len(a)):
    if a[i]==b:
        c=c+1
    else:
        d=d+str(c)+b
        b=a[i]
        c=1
d=d+str(c)+b

### first non repeatedcharacter ~ asked in interview 2024

In [21]:
a="aabbvbd"   # 
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
print(b)
for i,j in b.items():
    if j==1:
        print(i)
        break

{'a': 2, 'b': 3, 'v': 1, 'd': 1}
v

### distict word in a sentence

In [67]:
a="you have to find the distict word in a  sentence. You have to write a python programme"
def dis(a):
    b=len(list(set(a.lower().split())))
    return b
assert dis(a)==13
print("pass")

pass

### recurssion

In [24]:
#when a function call itself is called a recurrsion
def hello(n):
    if n==0:
        return 1 # stopping condition 
    print(n)
    return hello(n-1)

hello(10)

10
9
8
7
6
5
4
3
2
1

1

### recurssion factorial

In [82]:
def fac(n):
    if n==0:
        return 1
    return n*fac(n-1)

fac(5)

120

### recusrssion example print name without using loops

In [89]:
c=1
def hello(name):
    global c
    if c<=10:
        c=c+1
        print(name)
        return hello(name)
hello("hey")

hey
hey
hey
hey
hey
hey
hey
hey
hey
hey

###  remove files older than x days

In [32]:
import os
import sys
import datetime
present_time=datetime.datetime.now()
path=input("Enter your patha: ")
age=2
if os.path.exists(path):
    if os.path.isfile(path):
        print("Please pass the dircetor path")
    else:
        #print(os.listdir(path))
        for i in os.listdir(path):
            full_path=os.path.join(path,i)
            if os.path.isfile(full_path):
                # print(full_path)
                # print("==========")
                file_created_date=datetime.datetime.fromtimestamp(os.path.getctime(full_path))
                diff_days=(present_time-file_created_date).days
                if diff_days==age:
                    print(full_path,diff_days)           
else:
    print("Please pass valid path")

Enter your patha:  C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice

C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\json_se.txt 2
C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice\obj_byte.txt 2

In [39]:
import os   #root path, dir path,file
a=list(os.walk(r"C:\Users\navee\OneDrive\Documents\javeed\python_interview_practice"))
print(a)
print("===========")
for r,d,f in a:
    if len(f)!=0:
        print(f)

[('C:\\Users\\navee\\OneDrive\\Documents\\javeed\\python_interview_practice', ['.ipynb_checkpoints', 'delete'], ['dg.txt', 'fgfg.txt', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']), ('C:\\Users\\navee\\OneDrive\\Documents\\javeed\\python_interview_practice\\.ipynb_checkpoints', [], ['python-checkpoint.ipynb']), ('C:\\Users\\navee\\OneDrive\\Documents\\javeed\\python_interview_practice\\delete', [], [])]
===========
['dg.txt', 'fgfg.txt', 'json_se.txt', 'obj_byte.txt', 'python.ipynb']
['python-checkpoint.ipynb']

### flatten the nested list

In [5]:
def flatten(nested):
    flatten_list=[]
    def sub_flatten(nested):
        for i in nested:
            if type(i)==list:
                sub_flatten(i)
            else:
                flatten_list.append(i)
    sub_flatten(nested)
    return flatten_list
flatten([1, 2, [3, 4, [5, 6]], 7])

[1, 2, 3, 4, 5, 6, 7]

### find the list of tuples of empoyess who salary is grater the the company avg salary

In [13]:
#find the list of tuples of empoyess who salary is grater the the company avg salary
emp_list=[('Ankit',10000),('Rahul',12000),('Sumit',14000),('Dheeraj',21000),('Pavan',11000),('Mohit',13000)]
total=0
g=[]
c=0
for i in emp_list:
   total=total+i[1]
   c=c+1
print(c)
avg=total/c
print(avg)
for j in emp_list:
    if j[1] >avg:
        g.append(j)
g

6
13500.0

[('Sumit', 14000), ('Dheeraj', 21000)]

### sort dictionaries by key and values

In [27]:
employee_dict = {
    'Ankit': 10000,
    'Rahul': 12000,
    'Sumit': 14000,
    'Dheeraj': 21000,
    'Pavan': 11000,
    'Mohit': 13000
}
keys=dict(sorted(employee_dict.items()))
keys

{'Ankit': 10000,
 'Dheeraj': 21000,
 'Mohit': 13000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Sumit': 14000}

In [28]:
values=dict(sorted(employee_dict.items(), key=lambda x:x[1]))
values

{'Ankit': 10000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Mohit': 13000,
 'Sumit': 14000,
 'Dheeraj': 21000}

### sum of two num showuld be equal to n

In [14]:
a=[1,2,3,4,5,6,7]
n=6
c=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n:
            c.append((a[i],a[j]))
c

[(1, 5), (2, 4)]

### find the mssing values from the indecs of the given l;ist

In [20]:
src=[2,7,8,9,15]   #i=0,j=1 src[i]
def hello(src,i,j):
    b=[]
    start=src[0]
    end=src[1] 
    for i in range(start+1,end):
         b.append(i)
    return b
hello([2,7,8,9,15],0,1)

[3, 4, 5, 6]

##### the first elemt in lst must be greater than zero and other element
##### should be decraesd by 1 amd make sure it hsould not become zero

In [34]:
a=[1,1,2,1,3]
b=a[0]
c=[]
if a[0]>0:
    #c.append(a[0])
     for i in range(1,len(a)):
         if (a[i]-b)==0:
             continue
         else:
             a[i]=a[i]-1
a

[1, 1, 1, 1, 2]

### find the missing values from the list

In [54]:
a=[0,3,6]  # 1,2,4,5 are missing 
b=max(a)
miss=[]
for i in range(b+1):
    if i not in a:
       miss.append(i)
miss

[1, 2, 4, 5]

### sample pandas examples

In [1]:
import pandas as pd

In [2]:
a=pd.DataFrame({"name":["javed","ram"],"no":[20,30]})
a

    name  no
0  javed  20
1    ram  30

In [13]:
import pandas as pd

data = {
    'ID': [1, 2, 3, 4, 5,5],
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie','Charlie'],
    'Age': [25, 28, None, 35, 40,40],
    'Salary': [50000, 60000, 45000, 70000, None,None],
    'Gender': ['M', 'F', 'M', 'F', 'M','M']
}

df = pd.DataFrame(data)

In [14]:
df

   ID     Name   Age   Salary Gender
0   1     John  25.0  50000.0      M
1   2     Jane  28.0  60000.0      F
2   3      Bob   NaN  45000.0      M
3   4    Alice  35.0  70000.0      F
4   5  Charlie  40.0      NaN      M
5   5  Charlie  40.0      NaN      M

### find the sum of null values in each column

In [15]:
df.isnull().sum()

ID        0
Name      0
Age       1
Salary    2
Gender    0
dtype: int64

### dropping the null values

In [16]:
drop_na=df.dropna()

In [17]:
drop_na

   ID   Name   Age   Salary Gender
0   1   John  25.0  50000.0      M
1   2   Jane  28.0  60000.0      F
3   4  Alice  35.0  70000.0      F

In [21]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 1

### drop dublicates

In [25]:
df_dublicates=df.drop_duplicates()
df_dublicates

   ID     Name   Age   Salary Gender
0   1     John  25.0  50000.0      M
1   2     Jane  28.0  60000.0      F
2   3      Bob   NaN  45000.0      M
3   4    Alice  35.0  70000.0      F
4   5  Charlie  40.0      NaN      M

In [29]:
df["Gender"]=df["Gender"].str.lower()

In [30]:
df

   ID     Name   Age   Salary Gender
0   1     John  25.0  50000.0      m
1   2     Jane  28.0  60000.0      f
2   3      Bob   NaN  45000.0      m
3   4    Alice  35.0  70000.0      f
4   5  Charlie  40.0      NaN      m
5   5  Charlie  40.0      NaN      m

In [31]:
df.shape

(6, 5)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      6 non-null      int64
 1   Name    6 non-null      object
 2   Age     5 non-null      float64
 3   Salary  4 non-null      float64
 4   Gender  6 non-null      object
dtypes: float64(2), int64(1), object(2)
memory usage: 372.0+ bytes

### change the datatype

In [36]:
drop_na["Age"]=drop_na["Age"].astype('int')

C:\Users\navee\AppData\Local\Temp\ipykernel_25332\4207596781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_na["Age"]=drop_na["Age"].astype('int')

In [37]:
drop_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3 non-null      int64
 1   Name    3 non-null      object
 2   Age     3 non-null      int32
 3   Salary  3 non-null      float64
 4   Gender  3 non-null      object
dtypes: float64(1), int32(1), int64(1), object(2)
memory usage: 132.0+ bytes

In [38]:
df.rename(columns={"ID":"ID_NO"},inplace=True)

In [39]:
df

   ID_NO     Name   Age   Salary Gender
0      1     John  25.0  50000.0      m
1      2     Jane  28.0  60000.0      f
2      3      Bob   NaN  45000.0      m
3      4    Alice  35.0  70000.0      f
4      5  Charlie  40.0      NaN      m
5      5  Charlie  40.0      NaN      m

### joins

In [40]:
import pandas as pd

data1 = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['John', 'Jane', 'Bob', 'Alice', 'Charlie'],
    'Age': [25, 28, 30, 35, 40]
}

df1 = pd.DataFrame(data1)


data2 = {
    'ID': [2, 3, 4, 5, 6],
    'Salary': [60000, 45000, 70000, 80000, 55000],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Operations']
}

df2 = pd.DataFrame(data2)

In [41]:
df1

   ID     Name  Age
0   1     John   25
1   2     Jane   28
2   3      Bob   30
3   4    Alice   35
4   5  Charlie   40

In [42]:
df2

   ID  Salary  Department
0   2   60000          HR
1   3   45000          IT
2   4   70000     Finance
3   5   80000   Marketing
4   6   55000  Operations

In [43]:
inner_join=df1.merge(df2,on="ID",how="inner")

In [46]:
print("\ninner Join:")
inner_join

inner Join:

   ID     Name  Age  Salary Department
0   2     Jane   28   60000         HR
1   3      Bob   30   45000         IT
2   4    Alice   35   70000    Finance
3   5  Charlie   40   80000  Marketing

In [45]:
left_join = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Join:")
print(left_join)

Left Join:
   ID     Name  Age   Salary Department
0   1     John   25      NaN        NaN
1   2     Jane   28  60000.0         HR
2   3      Bob   30  45000.0         IT
3   4    Alice   35  70000.0    Finance
4   5  Charlie   40  80000.0  Marketing

In [47]:
right_join = pd.merge(df1, df2, on='ID', how='right')
print("\nRight Join:")
print(right_join)

Right Join:
   ID     Name   Age  Salary  Department
0   2     Jane  28.0   60000          HR
1   3      Bob  30.0   45000          IT
2   4    Alice  35.0   70000     Finance
3   5  Charlie  40.0   80000   Marketing
4   6      NaN   NaN   55000  Operations

In [48]:
df_filled = df.fillna(0)

In [49]:
df_filled

   ID_NO     Name   Age   Salary Gender
0      1     John  25.0  50000.0      m
1      2     Jane  28.0  60000.0      f
2      3      Bob   0.0  45000.0      m
3      4    Alice  35.0  70000.0      f
4      5  Charlie  40.0      0.0      m
5      5  Charlie  40.0      0.0      m

### reverse without using slicing operation

In [7]:
a=12345
rev=0
while a!=0:
    rev=rev*10+a%10 
    a=a//10

rev

54321

### balance paranthesses

In [57]:
def check_para(n):
    stack=[]
    for i in n:
        if i in ["(","[","{"]:
            stack.append(i)
        else:
            if not stack:
                return False
            c=stack.pop()
            # print(c)
            # print(stack)
            if c=="(":
                if i!=")":
                    return False
            if c=="[":
                if i!="]":
                    return False
            if c=="{":
                if i!="}":
                    return False
    if stack:
        return False 
    else:
        return True
a="{[({})]}"
check_para(a)

True

### oocurance index of needle in haystack

In [62]:
haystack="hello"
needle="ll" # if empty 0 or not in haystack return -1
def occ(haystack,needle):
    return haystack.find(needle)
print(occ("hello","ll"))
print(occ("hello",""))
print(occ("hello","a"))

2
0
-1

### bubble sort

In [53]:
a=[8,5,4,3,2]
for i in range(len(a)):
    for j in range(len(a)-1): #(5-0-1)=4
        if a[j]>a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)

[2, 3, 4, 5, 8]

####

In [7]:
n=5
for i in range(n):  # rows 
    for j in range(n):  # columns
      print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [17]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [19]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [20]:
n=5
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

### hacker rank list comphrehension

In [2]:
x=1
y=1
z=1
n=2
f=[]
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+k!=n:
                f.append([i,j,k])
f

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

### hacker rank uniue vales from k

In [68]:
s = 'AABCAAADA' # ab ca ad 
k = 3
sub=[]
for i in range(0,len(s),k):
    sub.append(s[i:i+k])
for j in sub:
    print("".join(sorted(set(j),key=j.index)))  # j.index sort based on original index value

AB
CA
AD

In [69]:
a="AADA"
print("".join(sorted(set(a),key=a.index)))

AD

In [75]:
a="DAA"
print("".join(sorted(set(a),key=a.index)))

DA

### regular expression

#### finding phone no

In [2]:
import re
text="hello my no is 9030170201 and my friend no is 8889996666"
res=re.findall('[89][0-9]{9}',text)
res

['9030170201', '8889996666']

#### finding email id

In [49]:
import re

text = "my email id is abc@gmail.com and friend email id is =jow@yahoo.in  $abc@jdojdo abc@jo.com  _jav@yahoo.in Javed@gmal.com"

# Find all email addresses where the local part does not start with "."
res = re.findall(r" [a-zA-Z]+[@][a-z]+\.[a-z]{2,3}", text)

print(res)

[' abc@gmail.com', ' abc@jo.com', ' Javed@gmal.com']

### any and all

In [ ]:
#In Python, the following values are considered "falsy" (evaluate to False):

# False
# None
# 0 (of any numeric type)
# 0.0
# '' (an empty string)
# [] (an empty list)
# {} (an empty dictionary)
# () (an empty tuple)
# set() (an empty set)

In [25]:
nums = [1, 2,1,-1,0]  
print(all(nums))

False

In [26]:
nums = [1, 2,1,-1,]  
print(all(nums))

True

In [31]:
#any
nums = [0,False]  
print(any(nums))

False

In [32]:
nums = [1,[]]  
print(any(nums))

True

In [33]:
nums = [(),()]  
print(all(nums))

False

### interview question

In [7]:
a=['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']
def hello(a,s):
    if s in a:
        ij= a.index(s)
        return (a[ij::])
    else:
        return False
user=input("enter the input:")
a=['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']
hello(a,user)

enter the input: Sunday

['Sunday', 'Monday', 'Tuesday']

### pattern

In [14]:
# 5 5 5 5 5
# 4 4 4 4
# 3 3 3
# 2 2
# 1
n=5
for i in range(5):
    for j in range(i,5):
        print(n,end= " ")
    n=n-1    
    
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### adding two no without using + sum()

In [2]:
a=3
b=5
sum=a-(-b)
sum

8

In [17]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [21]:
for i in range(5):
    for j in range(i,5):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [25]:
for i in range(5):
    for j in range(i,5):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [29]:
for i in range(5):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,5):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *

### Delete occurrences of an element if it occurs more than n times

In [1]:
nums = [0,1,1,1,1,2,2,2,3]  # [0,1,1,2,2,3]  should not occur more than 3 
d={}
c=[]
for i in nums:
    if i not in d:
        d[i]=1
    else:
        d[i]=d[i]+1
    if d[i]<3:
        c.append(i)
c

[0, 1, 1, 2, 2, 3]

### validate ip address

In [22]:
def valid_ip(ip):
    a=ip.split(".")
    if len(a)!=4:
        return "invalid"
    for i in a:
        if not i.isdigit():
            return "invalid"
        if int(i)<0 or int(i)>255:
            return "invalid"
    else:
        return "valid"
a="212.23.23.232"
valid_ip(a)

'valid'

### no to word

In [69]:
def switch_it_up(num):
    words_dict = {
        0: "Zero", 1: "One", 2: "Two", 3: "Three", 4: "Four",
        5: "Five", 6: "Six", 7: "Seven", 8: "Eight", 9: "Nine"
    }
    return words_dict.get(num)

# Test the function
num = int(input("Enter a number between 0 and 9: "))
if num<0  or m>9:
    print("out of range")
switch_it_up(num)

Enter a number between 0 and 9:  -1

out of range

### 3 elements from list  whos sum is 0

In [78]:
a=[-1,0,1,2,-1,-4]  #sum=a+b+c=0 find all the therre elements 
b=[]
for i in range(len(a)):
    for j in range(1,len(a)):
        for k in range(2,len(a)):
            if a[i]+a[j]+a[k]==0:
                b.append([a[i],a[j],a[k]])
b

[[-1, 0, 1],
 [-1, 2, -1],
 [-1, -1, 2],
 [0, 1, -1],
 [0, -1, 1],
 [1, 0, -1],
 [2, 2, -4],
 [2, -1, -1],
 [2, -4, 2],
 [-1, 0, 1],
 [-1, 2, -1],
 [-1, -1, 2],
 [-4, 2, 2]]

In [ ]:
No of chnages of key

In [81]:
a="cCBbDd" # from c to b one change b to d second change total 2 changes 
r=0
c=a[0].lower()
for i in range(1,len(a)):
    if a[i].lower()==c:
        continue
    else:
        r=r+1
        c=a[i].lower()
r

2

### max occurange values for key

In [11]:
a=[1,1,2,3,4,2,1,1,1,4,5,5,5,5,5,6,5,4,5,5]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
max_occ=max(b,key=b.get)
print(max_occ)
print(b[max_occ])

5
8

In [10]:
a=[1,1,2,3,4,2,1,1,1,4,5,5,5,5,5,6,5,4,5,5]
count=0
index=0
temp=0
for i in range(len(a)):
    temp= a.count(i)
    if temp>count:
        count=temp
        index=i
print(count) 
index

8

5

### first longest substring without reapting the character

In [1]:
s="abcabcbb"
max_len=[]
for i in range(len(s)):
    current=[s[i]]
    for j in  range(i+1,len(s)):
        if s[j] in current :
            break
        else:
            current.append(s[j])
    if len(current)>len(max_len):
        max_len=current
print("".join(max_len),len(max_len))

abc 3

In [5]:
#pemdas # paranthsis,exponential,mul,division additiona nd sub
print(3*3+3/3-1+2**2)

13.0

In [8]:
a=int(input())
years=90-a
weeks=years*52
weeks

 30

3120

In [20]:
print("####### welcome to reasure island #########")
choice1=input("Please enter where side you want to go left/right").lower()
while choice1  not in ["left", "right"]:
    choice1=input("Please enter where side you want to go left/right").lower()
if choice1=="left":
    choice2=input("entert swim/wait").lower()
    if choice2=="wait":
        door=input("which door red/blue/yellow").lower()
        if door=="red":
            print("gameover")
        elif door =="blue":
            print("you have got amush,gameover")
        elif door=="yellow":
            print("you have won")
        else:
            print("you have choose correct door,gameover")
            
    else:
        print("gameover")    
else:
    print("game over")

####### welcome to reasure island #########

Please enter where side you want to go left/right left
entert swim/wait fh

gameover

In [21]:
a=0
while a<10:
    a=a+1
    print(a)

1
2
3
4
5
6
7
8
9
10

### add sum of number till it gets to single digit

In [17]:
def add(n):  # 192-->1+9+2=13-->1+2=3
    while n>=10:
        n=sum(int(i) for i in str(n))
    return n
add(192)

3

In [18]:
def add(n):
    num=n%9
    if num==0:
        print(9)
    else:
        print(num)
add(129)

3

### finding k'th largest element

In [25]:
a=[2,6,3,0,7,4]
k=3
a.sort()
print(a[-k])

4