### second highest salary

In [ ]:
SELECT MAX(SALARY) FROM EMPLOYEES WHERE SALARY NOT IN
(SELECT MAX(SALARY) FROM EMPLOYEES);

### fetch 2 or 3rd ighest salary

In [ ]:
SELECT * FROM Employees ORDER BY salary DESC LIMIT 1 OFFSET 2;   # offset-after 2 rows give the one row

### top 2 highest  salaries

In [ ]:
SELECT * FROM Employees ORDER BY salary DESC limit 2;

### to get the substring

select id,address,location,substring(name,1,3) from student  # if name is javed teh he ouput is jav

### add columns

ALTER TABLE person
ADD COLUMN firstname VARCHAR(10)

ALTER TABLE person
ADD COLUMN lastname VARCHAR(10)

In [ ]:
### split firstname and make into two columns ex:john wick --firtname is hjhon and last name is wick

--add columns
UPDATE person
SET FIRSTNAME=SPLIT_PART(NAME,' ',1),
LASTNAME=SPLIT_PART(NAME,' ',2);

DDL (Data Definition Language):
DDL commands are used to define, modify, and delete database objects such as tables, indexes, views, etc.
Common DDL commands include:
CREATE: Used to create new database objects like tables, views, indexes, etc.
ALTER: Used to modify the structure of existing database objects.
DROP: Used to delete database objects.
TRUNCATE: Used to remove all records from a table.
COMMENT: Used to add comments to the data dictionary.
Example: CREATE TABLE, ALTER TABLE, DROP TABLE.
        DML (Data Manipulation Language):
        DML commands are used to manage data within database objects like tables.
        Common DML commands include:
        SELECT: Used to retrieve data from a database.
        INSERT: Used to add new records to a table.
        UPDATE: Used to modify existing records in a table.
        DELETE: Used to remove records from a table.
        Example: SELECT, INSERT, UPDATE, DELETE.
DCL (Data Control Language):
DCL commands are used to control access to data within the database.
Common DCL commands include:
GRANT: Used to give specific privileges to database objects to users or roles.
REVOKE: Used to remove specific privileges from users or roles.
Example: GRANT, REVOKE.

### unique rows

In [ ]:
select name,count(*) from person group by name having count(*)<2

### deleet dublicate rows

delete from person where id not in 
(select max(id)  from person group by name);