In [9]:
a="A5D2B1"  #ABD125
b=[]
d=[]
for i in a:
    if i.isdigit():
        d.append(i)
    else:
        b.append(i)
c="".join(sorted(b)+sorted(d))
print(c)

ABD125

In [10]:
def solution(S):
    # Convert string to list of digits for easier manipulation
    digits = list(map(int, S))
    n = len(digits)
    
    i = 0
    while i < n - 1:
        # Check if the sum of adjacent digits can create a digit greater than 9
        if digits[i] + digits[i + 1] > 9:
            # Replace the two adjacent digits with their sum
            digits[i] = digits[i] + digits[i + 1]
            # Remove the next digit
            digits.pop(i + 1)
            # Update n since we removed a digit
            n -= 1
            # If we modified the first digit, return the string
            if i == 0:
                return ''.join(map(str, digits))
            # Move the index back by 1 to check if the previous pair can also be merged
            i -= 1
        else:
            i += 1
    
    # If no changes were made, return the original string
    return ''.join(map(str, digits))

# Example usage:
s = "32581"
print(solution(s))  # Output: "559"

181

In [18]:
a=["cat","hat","cat","apple","cat","apple","pat","cat","hat","hat"]  #['hat', 'cat']
b=[]
for i in a:
    if a.count(i)>=3:
        b.append(i)
set(b)

{'cat', 'hat'}

In [31]:
a = [1, 2, 3, 4, 5, 9, 8]
max_pro=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
        product=a[i]*a[j]
        if product>max_pro:
            max_pro=product
            pair=[a[i],a[j]]
        

pair

[9, 8]

In [36]:
a=[2,7,6,7,8,2]
n=9
b=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n and len(b)==0:
            b.append(i)
            b.append(j)
            
b

[0, 1]

In [49]:
a=["appl23e1224","2844ban45ana","o45range48739"]
alpha=[]
numeric=[]
for i in a:
     al=""
     nu=""
     for j in i:
        if j.isalpha():
            al=al+j
        else:
            nu=nu+j
     alpha.append(al)
     numeric.append(nu)
alpha

['apple', 'banana', 'orange']

In [51]:
numeric

['231224', '284445', '4548739']

In [ ]:
[1,23,45,55,21] ---------> # [1, 5, 9, 10, 3]

In [58]:
a=[1,23,45,55,21]
b=[]
for i in a:
    c=0
    for j in str(i):
         c=c+int(j)
    b.append(c)
        
b

[1, 5, 9, 10, 3]

In [59]:
a="h"
b=int(a)

ValueError: invalid literal for int() with base 10: 'h'

In [61]:
a="aabbvbd" #v
c={}
for i in a:
    if i in c:
        c[i]=c[i]+1
    else:
        c[i]=1
for i,j in c.items():
    if j==1:
        print(i)
        break

v

In [5]:
def hello(n):
    if n>10:
        return 1 # stopping condition 
    print(n)
    hello(n+1)

hello(1)

1
2
3
4
5
6
7
8
9
10

In [7]:
def hello(n):
    if n==0:
        return 1
    print(n)
    hello(n-1)

hello(10)

10
9
8
7
6
5
4
3
2
1

In [10]:
def fac(n):
    if n==0:
        return 1
    return n*fac(n-1)
fac(5)

120

In [12]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [16]:
a=[1, 2, [3, 4, [5, 6]], 7]
def hello(sub):
    nested=[]
    def mini(sub):
        for i in sub:
            if type(i)==list:
                mini(i)
            else:
                nested.append(i)
    mini(sub)
    return nested
hello([1, 2, [3, 4, [5, 6]], 7])

[1, 2, 3, 4, 5, 6, 7]

In [20]:
a={"name":123,"marks":300,"apple":321}
a={k:v for k,v in sorted(a.items())}
a

{'apple': 321, 'marks': 300, 'name': 123}

In [1]:
a={"name":123,"marks":300,"apple":321}
b={k:v for k,v in sorted(a.items(),key=lambda v:v[1])}
b

{'name': 123, 'marks': 300, 'apple': 321}

In [34]:
a=[1,2,3,4,5,6,7]
n=6
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n:
            print(a[i],a[j])

1 5

In [40]:
src=[2,7,8,9,15]
def missing(src):
    miss=[]
    a=max(src)
    for i in range(min(src)+1,a+1):
        if i not in src:
            miss.append(i)
    return miss
missing([2,7,8,9,15])

[3, 4, 5, 6, 10, 11, 12, 13, 14]

In [52]:
n=4
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *

In [61]:
a=['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']
b="Thursday"
if b in a:
    c=a.index(b)
    print(a[c+1::])

['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']

In [80]:
a="9030170201"
def valid_phone(a):
    if len(a)!=10:
        return "invalid"
    for i in a:
        if not i.isdigit():
            return "invalid"
    if a[0] not in ["9","7","6"]:
        return "Invalid"
    return "valid"
a="9030170201"
valid_phone(a)

'valid'

ip="127.124.123.123"

In [9]:
a=[1,1,2,3,4,2,1,1,1,4,5,5,5,5,5,6,5,4,5,5]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
c=max(b,key=b.get)
print(b[c])

8

In [15]:
def add(n):
    num=n%9
    if num==0:
        print(9)
    else:
        print(num)
add(129)

3

In [21]:
a=12345
res=0
while a!=0:
    res=res*10+a%10
    print(res)
    a=a//10
    print(a)
res

5
1234
54
123
543
12
5432
1
54321
0

54321

In [22]:
a=12345
rev=0
while a!=0:
    rev=rev*10+a%10 
    print(rev)
    a=a//10
    print(a)

rev

5
1234
54
123
543
12
5432
1
54321
0

54321

In [55]:
def main(fun):
    def sub():
        a=fun()
        print(a//2)
    return sub()
@main
def mult():
    return 5*6

15

In [ ]:
__repr__  # work

In [33]:
import pandas as pd
data={"Name":["javed","ram"],"age":[23,34]}
df=pd.DataFrame(data)
df

    Name  age
0  javed   23
1    ram   34

In [ ]:
address- [{addr1;"ln1",city:"", state":"},{addrs1;"ln1",city:"", state":"}]

In [37]:
df["address"]=[{"addr1":"ln1","city":"", "state":""},{"addrs2":"ln2","city":"", "state":""}]

In [38]:
df

    Name  age                                     address
0  javed   23   {'addr1': 'ln1', 'city': '', 'state': ''}
1    ram   34  {'addrs2': 'ln2', 'city': '', 'state': ''}

In [41]:
df["address"]

0     {'addr1': 'ln1', 'city': '', 'state': ''}
1    {'addrs2': 'ln2', 'city': '', 'state': ''}
Name: address, dtype: object

In [48]:
df["city"]=df.iloc[0,2]["city"]
df["city"]="ind"
df

    Name  age                                     address city
0  javed   23   {'addr1': 'ln1', 'city': '', 'state': ''}  ind
1    ram   34  {'addrs2': 'ln2', 'city': '', 'state': ''}  ind

In [ ]:
df1.merge(df2,df["x"],how="left")

In [ ]:
table.columnanem table2.columname

In [50]:
a="hello"
str(a)

'hello'

In [51]:
repr(a)

"'hello'"

In [68]:
a=12345
b=""
for i in range(len(str(a))):
    c=a%10
    b=b+str(c)
    a=a//10
print(b)

54321

In [82]:
n=5
for i in range(n):
    for j in range(n,0,-):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1 0
3 2 1 0 -1
2 1 0 -1 -2
1 0 -1 -2 -3

In [13]:
#valid phone no

# step1:length should be equal to 10
# step2:all elelments should be digits
# step3:number should start with 9 or 8 or 7 or 6

In [58]:
def valid_phone_no(num):
    if len(num)!=10:
        return "Invalid"
    for i in num:
        print(type(i))
        if not i.isdigit():
            return "Invalid"
    if num[0] not in [9,8,6,7]:
        return "Invalid"
    return "Valid"
valid_phone_no("8090909090")

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

'Invalid'

In [57]:
a="8090909090"
b=a[0]
print(type(b))
if b.isdigit():
    print("true")

<class 'str'>
true

In [ ]:
# pan card validator

In [ ]:
ABCDE 1234 K
length=10
first 5 char-->alpa+upper
nect 4 chr-->digits
last charcter-->alpha+upper

In [52]:
def pan_validate(num):
    if len(num)!=10:
        return "Invalid"
    for i in range(0,5):
        if not num[i].isalpha() or not num[i].upper():
            return "Invalid"
    for i in range(5,9):
        if not num[i].isdigit():
            return "Invalid"
    if not num[-1].isupper() or not num[i].upper():
        return "Invalid"
    return "Valid"
pan_validate("ABCDE1234E")

'Valid'

In [60]:
a="hello"
a.upper()

'HELLO'

In [62]:
a="hello"
if a.islower():
    print("yes")

yes

In [5]:
a=[(1,"apple"),(2,"mango")]
for _,v in a:
    print(v)

apple
mango

In [15]:
x=3
binary_representation = format(x, '04b')
binary_representation

'0011'

In [10]:
x = 1
shifted_value = x << 2
result = int(bin(shifted_value), 2)
print(result)

4

In [22]:
x="0100"
res=int(x,16)
res

256

In [16]:
bin(3)

'0b11'

1

In [7]:
a="mjaveed1.its@gmail.com"
re=a.split("@")
name=re[0]
domain=re[1]
res=name[0]+(len(name)-2)*("*")+name[-1]+"@"+domain
res

'm**********s@gmail.com'

In [15]:
new="abcd"
for i in range(len(new)):
    for j in range(i+1,len(new)+1):
        print(new[i:j])

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [31]:
s = "aaaabbaa"
c=""
d=[]
for i in range(len(s)):
    tem=s[i]
    for j in range(i+1,len(s)):
        tem=tem+s[j]
        if tem==tem[::-1]:
            d.append(tem)
c={i:len(i) for i in d}
c[max(c,key=c.get)]

6

In [56]:
a="aaaAAbbcccbd"
print(len(a))
b=""
for i in range(len(a)):
    if i==len(a)-1 or a[i]!=a[i+1]:
            b=b+a[i]
            print(b)

12
a
aA
aAb
aAbc
aAbcb
aAbcbd

In [37]:
print("a"=="a")

True

In [63]:
i = "my name is javed"
# mY nAmE iS jAvEd
res=i.split()

b=[]
for j in res:
    temp=""
    for k in range(len(j)):
        if k%2!=0:
           temp=temp+j[k].upper()
        else:
            temp=temp+j[k]
    b.append(temp)
out=" ".join(b)
out

'mY nAmE iS jAvEd'

In [66]:
s = "aaaabbaa"
b=[]
for i in range(len(s)):
    temp=s[i]
    for j in range(i+1,len(s)):
        temp=temp+s[j]
        if temp==temp[::-1]:
            b.append(temp)
b

['aa', 'aaa', 'aaaa', 'aa', 'aaa', 'aa', 'aabbaa', 'abba', 'bb', 'aa']

In [71]:
input= ("A", "B", "C") 
#[('A', 'B'), ('A', 'C')]
f=input[0]
d=[]
for i in input:
    if i==f:
        continue
    else:
        d.append((f,i))
d

[('A', 'B'), ('A', 'C')]

In [81]:
import string
import random
d=[]
for i in range(0,2):
    c=random.choice(string.ascii_lowercase)
    d.append(c)
for i in range(0,5):
    c=random.choice(string.ascii_lowercase+string.digits)
    d.append(c)
for i in range(0,2):
    c=random.choice(string.ascii_lowercase)
    d.append(c)
print("".join(d))

gen911imw

In [82]:
a=4
b=6 
c=0
for i in range(0,b):
   c=c+a
c

24

In [ ]:
algorithm to serialize binary and

In [8]:
a=[0,2,3,4,5,10]  # 1,6,7,,8,9
b=max(a)
missing=[]
for i in range(b+1):
    if i not in a:
        missing.append(i)
missing

[1, 6, 7, 8, 9]

In [ ]:
find teh avg and  highet slaary of all emplyee in each dep 

select dep,max(salary),avg(salary) from table group by dep;

In [ ]:
names of emp who salry is higher than the avg salary
select names_emplyee from table where salary >
(select avg(salary) from table)

In [ ]:
names of emp who has highest salary in each dep

In [ ]:
#names of employees who have the highest salary within each department

select employees,dep from table group by dept having maxSalary

In [ ]:
a={[]}

In [12]:
a=[1,2,3,1,2,3,1,1]
from collections import Counter
def occurance(a):
    res=Counter(a)
    return res
a=[1,2,3,1,2,3,1,1]
occurance(a)

Counter({1: 4, 2: 2, 3: 2})

In [14]:
a=[1,2,3,1,2,3,1,1]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
b

{1: 4, 2: 2, 3: 2}

In [5]:

def main(fun):
    def sub():
        print("this is the exgtra functinality added on top of prod data")
        fun()
    return sub()
@main

def hello():
    print("this code is present in prod env")

this is the exgtra functinality added on top of prod data
this code is present in prod env

In [ ]:
from fastapi import FastAPI
app=FastAPI()

app.get("/")
def hello():
    return {"data":"helloworld"}

uvicorn main:app --reload

In [ ]:
#(1, 2, 3 , [4,5,6], 7,8) 
#list comprehension usage using for loop and list comphresion

In [1]:
a=[1,2,3,4,5] 

b=[i*2 for i in a if i%2==0]
b

[4, 8]

In [7]:
a={"A": 10, "X": 1, "B": 3, "C": 2}
b=dict(sorted(a.items(),key=lambda x:x[1]))
b

{'X': 1, 'C': 2, 'B': 3, 'A': 10}

In [90]:
class hello:
    def __init_(self):
        print("this is parent")
class main(hello):
    def parent(self):
        print("this is child")
obj=main()
obj.parent()

#obj.parent()

this is child

In [ ]:
#method overloading
class hello:
    def parent(self,firstname="",lastname=""):
        print("this is parent")

In [51]:
#parameter dec

def abc(fun):
    def sub(a,b):
        res=fun(a,b)
        out=res+10
        return out
        
    return sub
@abc
def main(a,b):
    return a+b
x=main(2,3)
print(x)

15

In [20]:
try:
    5//0
except Exception as e:
    print(e)
finally
else

integer division or modulo by zero

In [ ]:
a={ }[ ]  ["{","["]   b=["{","["], c=b.pop()
{[()]}
[[
]]
[[}}

In [45]:
a="[[}}"
b=["{","[","("]
c=[]
def balance(a):
    b=["{","[","("]
    c=[]
    for i in a:
        if i in b:
            c.append(i)
        else:
            if len(c)!=0:
                d=c.pop()
                if d=="{":
                    if i!="}":
                      return False 
                elif d=="[":
                    if i!="]":
                        return False
                elif d=="(":
                    if i!=")":
                        return False
                return True
                    
    if not c:
        return True
                    
a="{ }[ ]"               
balance(a)

False

In [49]:
def balance(a):
    stack=[]
    for i in a:
        if i in ["{","[","("]:
            stack.append(i)
        else:
            if not stack:
                return False
            c=stack.pop()
            if c=="{":
                if i!="}":
                    return "Not balanced"
            if c=="[":
                if i!="]":
                    return "Not balanced"
            if c=="(":
                if i!=")":
                    return "Not balanced"
    if stack:
        return "Not balanced"
    else:
        return "Balanced"
a="{}[]"
balance(a)

'Balanced'

In [24]:
def ba(a):
    b=[]
    for i in a:
        if i in  ["{","(","["]:
            b.append(i)
        else:
            if not b:
                return False
            c=b.pop()
            if c=="(":
                if i!=")":
                    return False
            if c=="{":
                if i!="}":
                    return False
            if c=="[":
                if i!="]":
                    return False
    if b:
        return False
    else:
        return True
        
a="{}[]]"
ba(a)

False

In [80]:
def main(fun):
    def sub(a,b):
        a=fun(a,b)
        a=a+10
        return a
    return sub
@main
def hello(a,b):
    return a+b
hello(1,2)

13

In [97]:
def hello(fun):
    def sub():
        a=fun()
        #print(a//2)
        return a//2
    return sub

@hello
def main():
    return 30
main()

15

In [4]:
new="abcd"
for i in range(len(new)):
    for j in range(i+1,len(new)+1):
        print(new[i:j])

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [11]:
s ="aaaabbaa"
c=[]
for i in range(len(s)):
    b=s[i]
    for j in range(i+1,len(s)):
        b=b+s[j]
        if b==b[::-1]:
            c.append(b)
r={i:len(i) for i in c}
r=max(r,key=r.get)
r

'aabbaa'

In [20]:
a="aaaAAbbcccbd"
b=""
for i in range(len(a)):
    if i==len(a)-1 or a[i]!=a[i+1]:
        b=b+a[i]
        
  
b

'aAbcbd'

In [30]:
a=[1,10,17,14,32,7,6]
k=3
for i in range(len(a)):
    for j in range(len(a)-i-1):#7-0-1=6
        if a[j]<a[j+1]:
            a[j],a[j+1]=a[j+1],a[j]
print(a)
a[k-1]

[32, 17, 14, 10, 7, 6, 1]

14

In [39]:
s="abcabcdb"
c=[]
for i in range(len(s)):
    temp=[s[i]]
    for j in range(i+1,len(s)):
        if s[j] not in temp:
            temp.append(s[j])
        else:
            break
    if len(temp)>len(c):
        c=temp
        c="".join(c)
c

'abcd'

In [37]:
len([1,2])

2

In [48]:
def hello(a,b):
    try:
        return a/b
    except Exception as e:
        print(str(e))
def main():
    res=hello(10,0)
    print(res)
    
main()

division by zero
None

In [50]:
def divide(x, y):

        result = x / y
        return result

def main():
    try:
        result = divide(10, 0)  # This will raise a ZeroDivisionError
        print("Result:", result)  # This line won't be executed
    except ZeroDivisionError:
        print("Handled the exception in main!")


main()

Handled the exception in main!

In [ ]:
def divide(x, y):
    try:
        result = x / y
        return result
    except ZeroDivisionError:
        print("Error: Cannot divide by zero!")

def main():
    try:
        result = divide(10, 0)  # This will raise a ZeroDivisionError
        print("Result:", result)  # This line won't be executed
    except ZeroDivisionError:
        print("Handled the exception in main!")

main()

Exception Propagation:Imagine you have a series of functions calling each other, like a chain. When an exception occurs within one function,
Python looks to see if that function has a plan to handle the exception. If it does, Python executes that plan, 
and the program continues running smoothly.

In [67]:
def fun1(x,y):
    try:
        res=x/y
        return res
    except ZeroDivisionError:
        print("Error: Cannot divide by zero!")
    
def fun2(x,y):
    try:
        out=fun1(x,y)
        return out
    except ZeroDivisionError:
        print("Error: Cannot divide by zeros!")
    
fun2(10,0)

Error: Cannot divide by zero!

In [4]:
def balance(a):
    b=[]
    for i in a:
        if i in ["(","[","{"]:
            b.append(i)
        else:
            if not b:
                return False
            c=b.pop()
            if c=="(":
                if i!=")":
                    return False
            if c=="[":
                if i!="]":
                    return False
            if c=="{":
                if i!="}":
                    return False
    if not b:
        return True
    else:
        return False
a="()["
balance(a)

False

In [4]:
a=[1,2,3,4]
b=[a[0]]
for i in range(1,len(a)):
    b.append(a[i]+a[i-1])
b

[1, 3, 5, 7]

In [7]:
a="aaaabbbccc"
t=a[0]
b=""
c=1
for i in range(1,len(a)):
    if a[i]==t:
        c=c+1
    else:
        b=b+str(c)+t
        t=a[i]
        c=1
b=b+str(c)+t
b

'4a3b3c'

In [17]:
def faltten(a):
    b=[]
    def sub(a):
        for i in a:
            if type(i)==list:
                sub(i)
            else:
                b.append(i)
    sub(a)
    return b
    
a=[1, 2, [3, 4, [5, 6]], 7]
print(faltten(a))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def flatten(nested):
    flatten_list=[]
    def sub_flatten(nested):
        for i in nested:
            if type(i)==list:
                sub_flatten(i)
            else:
                flatten_list.append(i)
    sub_flatten(nested)
    return flatten_list
flatten([1, 2, [3, 4, [5, 6]], 7])

In [18]:
employee_dict = {
    'Ankit': 10000,
    'Rahul': 12000,
    'Sumit': 14000,
    'Dheeraj': 21000,
    'Pavan': 11000,
    'Mohit': 13000
}
dict(sorted(employee_dict.items()))

{'Ankit': 10000,
 'Dheeraj': 21000,
 'Mohit': 13000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Sumit': 14000}

In [19]:
dict(sorted(employee_dict.items(),key=lambda x:x[1]))

{'Ankit': 10000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Mohit': 13000,
 'Sumit': 14000,
 'Dheeraj': 21000}

In [25]:
a=12345
b=str(a)
c=""
for i in range(len(b)-1,-1,-1):
    c=c+b[i]
int(c)

54321

In [42]:
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for k in range(i+1):
        print("*",end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [47]:
s="abcabcdb"
b=[]
for i in range(0,len(s)):
    t=s[i]
    for j in range(i+1,len(s)):
        if s[j] not in t:
            t=t+s[j]
        else:
            break
    b.append(t)
b

['abc', 'bca', 'cab', 'abcd', 'bcd', 'cdb', 'db', 'b']

In [54]:
a='CodeGeek'
c=[]
b=["a","e","i","o","u"]
c="".join([i for i in a if i not  in b])
c

'CdGk'

In [2]:
import datetime
c=datetime.datetime.now()
file_name="sample"
c

datetime.datetime(2024, 5, 10, 18, 40, 32, 667140)

In [14]:
d=c.strftime("%H:%M:%S")

In [17]:
z=f"{file}_{d}.csv"
z

'sample_18:40:32.csv'

In [23]:
a={"name":"javeed","salary":"3000"}
d={k:v[0:3] if type(v)==int for k,v in a.items()}
d

SyntaxError: expected 'else' after 'if' expression (3590794369.py, line 2)

In [26]:
7%3

1

In [ ]:
Input: "hellosannasmith"
Output: sannas

In [34]:
a="hellosannasmith"
z=[]
for i in range(len(a)):
    b=a[i]
    for j in range(i+1,len(a)):
        b=b+a[j]
        if b==b[::-1]:
            z.append(b)
f={i:len(i) for i in z}
f=max(f,key=f.get)
f

'sannas'

In [21]:
a="abcabcbefg"
b=[]
for i in range(len(a)):
    temp=a[i]
    for j in range(i+1,len(a)):
        if a[j] not in temp:
            temp=temp+a[j]
        else:
            break
    b.append(temp)
# print(b)

res={i:len(i) for i in b}
print(res)
res=max(res,key=res.get)
res
# for i,j in res.items():
#     if j==3:
#         print(i)
#         break

{'abc': 3, 'bca': 3, 'cab': 3, 'bc': 2, 'cbefg': 5, 'befg': 4, 'efg': 3, 'fg': 2, 'g': 1}

'cbefg'

In [75]:
#optional endpoint

In [ ]:
#fargate

In [23]:
class hello:
    domain="youtube"  #------------------>class variable 
    def __init__(self,first,last):
        self.first=first
        self.last=last
    def info(self): #------------>instant method 
        return f"{self.first}.last@{hello.domain}.com"
    @staticmethod  #-------------->staticmethod
    def new_domain(cls,newdomain):
        cls.domin=newdomain
    @staticmethod
    def static_demo():    #----------------->staticmethod
        return "this is static method"  

e=hello("javed","abdul")
hello.domain="gmail"
print(e.info())
print(e.static_demo())

javed.last@gmail.com
this is static method

In [3]:
a = [1, 2, 3, 4, 5, 9, 8]
m=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
        b=a[i]*a[j]
        if m<b:
            m=b
            pair=(a[i],a[j])
pair

(9, 8)

In [9]:
a="2+3+4+6"
eval(a)

15

In [11]:
a=[1,2,3,4]
b=["apple","mango","banana"]
c=[{i:j} for i,j in zip(a,b)]
c

[{1: 'apple'}, {2: 'mango'}, {3: 'banana'}]

In [13]:
keys = ['ID', 'Name', 'Age', 'Salary']
values = [1, 'John', 25, 50000]
dict(zip(keys,values))

{'ID': 1, 'Name': 'John', 'Age': 25, 'Salary': 50000}

In [15]:
a=[1,2,3,4]
b=["apple","mango","banana"]
c={i:j for i,j in zip(a,b)}
c

{1: 'apple', 2: 'mango', 3: 'banana'}

In [16]:
a={i:i**3 for i in range(1,10)}
a

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [17]:
a=["linux","devops","python","java","rust"]
for i,j in enumerate(a):
    print(f"Index is {i}:and value is {j}")

Index is 0:and value is linux
Index is 1:and value is devops
Index is 2:and value is python
Index is 3:and value is java
Index is 4:and value is rust

In [18]:
a=[1,1,2,3,1,2,3,4]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
b

{1: 3, 2: 2, 3: 2, 4: 1}

In [22]:
a=[1,2,3,4,5]
b=iter(a)
next(b)

1

In [23]:
next(b)

2

In [33]:
def dec(fun):
    def sub():
        a=fun()
        print("added functionality")
        print(a)
        print("application end")
    return sub()
@dec
def main():
    return "this is the main logic"

added functionality
this is the main logic
application end

In [39]:
def main(fun):
    def sub(a,b):
        a=fun(a,b)
        a=a+10
        return a
    return sub
@main
def hello(a,b):
    return a+b
x=hello(1,2)
x

13

In [41]:

def main(fun):
    def sub(a,b):
        a=fun(a,b)
        a=a+10
        print(a)
    return sub

@main
def hello(x,y):
    return x+y
hello(2,3)

15

In [46]:
a=2
b=3
temp=a
a=b
b=temp
print(a,b)

3 2

In [50]:
a=5
r=1
for i in range(a,0,-1):
    r=r*i
r

120

In [53]:
for i in range(2,20):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19

In [59]:
def prime(a):
    if a<=0:
        return False
    for i in range(2,a):
        if a%i==0:
            return False
            break
    else:
        return True

prime(6)

False

In [60]:
a=[1,2,3,4]
c=0
for i in a:
    c=c+i
c

10

In [61]:
a=[1,2,3,4]
b=[a[0]]
for i in range(1,len(a)):
    b.append(a[i]+a[i-1])
b

[1, 3, 5, 7]

In [66]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list(map(lambda x:x**2,numbers))
list(filter(lambda x:x%2==0,numbers))

[2, 4, 6, 8]

In [ ]:
lst1=[[1,2,3,4],[5,6,7,8]]

In [82]:

l=[[1,2,3,4],[5,6,7,8]]
b=l.copy()
b[0][1]=100
print(b)
print(l)

[[1, 100, 3, 4], [5, 6, 7, 8]]
[[1, 100, 3, 4], [5, 6, 7, 8]]

In [85]:
l=[[1,2,3,4],[5,6,7,8]]
b=copy.deepcopy(l)
b[0][1]=100
print(b)
print(l)

[[1, 100, 3, 4], [5, 6, 7, 8]]
[[1, 2, 3, 4], [5, 6, 7, 8]]

In [91]:
a={1,2,3,4}
for i in a:
    print(i)

1
2
3
4

In [100]:
#
# a=CEKPM5144K
def valid_pan(a):
    if len(a)!=10:
        return False
    for i in range(0,5):
        if not a[i].isalpha() or not a[i].isupper():
            return False
    for i in range(5,9):
        if not a[i].isdigit():
            return False
    if not a[-1].isalpha() or not a[-1].isupper():
        return False
    else:
        return True
a="CEKPM5144K"
valid_pan(a)

True

In [106]:
a=153
b=sum([int(i)**len(str(a)) for i in str(a)])
if a==b:
    print("armstrong")
else:
    print("not armstrong")

armstrong

In [112]:
a=[1,2,2,4,4,5,2,1,2,4,7,7,8] 
for i in a:
    if a.count(i)==1:
        print(i)

5
8

In [120]:
a="A5D2B1"
al=[]
num=[]
for i in a:
    if i.isdigit():
        num.append(i)
    else:
        al.append(i)
print("".join(sorted(al)+sorted(num)))

ABD125

In [122]:
a=["cat","hat","cat","apple","cat","apple","pat","cat","hat","hat"]
b=[]
for i in a:
    if a.count(i)>3:
        b.append(i)
list(set(b))

['cat']

In [126]:
a=[2,7,6,7,8,2]
n=9
b=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==9 and len(b)==0:
            b.append(a[i])
            b.append(a[j])
b

[2, 7]

In [ ]:
### a3b4c5 ---> aaabbbbccccc

In [132]:
n="a3b4c5"
al=[]
d=[]
for i in n:
    if i.isdigit():
        d.append(i)
    else:
        al.append(i)
for i,j in zip(al,d):
    print(i*int(j),end="")

aaabbbbccccc

In [138]:
a=["appl23e1224","2844ban45ana","o45range48739"]
al=[]
nu=[]
for i in a:
    alpha=""
    num=""
    for j in i:
        if j.isalpha():
            alpha=alpha+j
        else:
            num=num+str(j)
    al.append(alpha)
    nu.append(int(num))
al
nu

[231224, 284445, 4548739]

In [145]:
#[1,23,45,55,21] ---------> # [1, 5, 9, 10, 3]

a=[1,23,45,55,21]
b=[str(i) for i in a]
d=[]
for i in b:
    c=0
    for j in i:
        c=c+int(j)
    d.append(c)
        
d

[1, 5, 9, 10, 3]

In [151]:
#my45name89is" ------>si45eman89ym
a="my45name89is"
b=[i for i in a[::-1] if i.isalpha()]
c=""
for i in a:
    if i.isalpha():
        c=c+b[i]
        i=i+1
    else:
        c=c+j
c

TypeError: list indices must be integers or slices, not str

In [156]:
s1=[1,2,3,4]
s2=[3,4,5,6]
c=[]
for i,j in zip(s1,s2):
    c.append(i+j)
c

[4, 6, 8, 10]

In [157]:
import sys
sys.stdout.writelines("hello")

hello

In [158]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
for i in list1:
    if i in list2:
        print(i)

4
5

In [160]:
a={(1,2,4):1}
a

{(1, 2, 4): 1}

In [163]:
n="aaaabbbccc"
t=n[0]
c=1
d=""
for i in range(1,len(n)):
    if t==n[i]:
        c=c+1
    else:
        d=d+str(c)+t
        t=n[i]
        c=1
d+str(c)+t

'4a3b3c'

In [164]:
a="aabbvbd"   # 
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
print(b)

{'a': 2, 'b': 3, 'v': 1, 'd': 1}

In [166]:
for i,j in b.items():
    if j==1:
        print(i)
        break

v

In [173]:
a="you have to find the distict word in a  sentence. You have to write a python programme"
set(a.lower().split())

{'a',
 'distict',
 'find',
 'have',
 'in',
 'programme',
 'python',
 'sentence.',
 'the',
 'to',
 'word',
 'write',
 'you'}

In [4]:
def hello(n):
    if n==0:
        return 0
    print(n)
    return hello(n-1)
hello(10)

10
9
8
7
6
5
4
3
2
1

0

In [1]:
def main(fun):
    def sub():
        a=fun()
        a=a.upper()
        print(a)
    return sub()

@main
def hello():
    return "helloworld"

HELLOWORLD

In [6]:
def fac(a):
    if a==0:
        return 1
    return a*fac(a-1)
fac(5)

120

In [1]:
c=1
def main(name):
    global c
    if c<10:
        print(name)
        c=c+1
        return main(name)
main("javed")

javed
javed
javed
javed
javed
javed
javed
javed
javed

In [2]:
c=1
def helo():
    print(c)
helo()

1

In [1]:
c=1
def hello(name):
    global c
    if c<10:
        print(name)
        c=c+1
        return hello(name)
hello("javed")

javed
javed
javed
javed
javed
javed
javed
javed
javed

In [1]:
a=[1, 2, [3, 4, [5, 6]], 7]
b=[]
def flat(a):
    for i in a:
        if type(i)==list:
            flat(i)
        else:
            b.append(i)
    return b
    
    
a=[1, 2, [3, 4, [5, 6]], 7]
flat(a)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
a = {
    'Ankit': 10000,
    'Rahul': 12000,
    'Sumit': 14000,
    'Dheeraj': 21000,
    'Pavan': 11000,
    'Mohit': 13000
}

dict(sorted(a.items()))

{'Ankit': 10000,
 'Dheeraj': 21000,
 'Mohit': 13000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Sumit': 14000}

In [4]:
dict(sorted(a.items(),key=lambda x:x[1]))

{'Ankit': 10000,
 'Pavan': 11000,
 'Rahul': 12000,
 'Mohit': 13000,
 'Sumit': 14000,
 'Dheeraj': 21000}

In [10]:
a=12345
b=str(a)
c=""
for i in range(len(b)-1,-1,-1):
    c=c+b[i]
c

'54321'

In [13]:
arr=[3,6,8,12,15]
n=7
c=0
for i in arr:
    if i<n:
        c=c+1
    else:
        break
arr.insert(c,n)
arr

[3, 6, 7, 8, 12, 15]

In [16]:
new="abcd"
for i in range(len(new)):
    for j in range(i+1,len(new)+1):
        print(new[i:j])

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [17]:
s = "aaaabbaa"
c=[]
for i in range(len(s)):
    b=s[i]
    for j in range(i+1,len(s)):
        b=b+s[j]
        if b==b[::-1]:
            c.append(b)
c

['aa', 'aaa', 'aaaa', 'aa', 'aaa', 'aa', 'aabbaa', 'abba', 'bb', 'aa']

In [27]:
s = "babadaabbaa"
b=[]
for i in range(len(s)):
    a=s[0]
    for j in range(i+1,len(s)):
        a=a+s[j]
        if a==a[::-1]:
            b.append(a)
b

['bab', 'bb', 'baab', 'bab', 'bb', 'bbb', 'bb']

In [32]:
words = ['lump', 'eat',  'me',  'tea', 'em', 'plum']
#[['lump', 'plum'], ['eat', 'tea'], ['me', 'em']]
b=[]
for i in range(len(words)):
    t="".join(sorted(words[i]))
    for j in range(i+1,len(words)):
        m="".join(sorted(words[j]))
        if t==m:
            b.append([words[i],words[j]])
b

[['lump', 'plum'], ['eat', 'tea'], ['me', 'em']]

In [1]:
numberList = [15, 85, 35, 89, 125, 365, 789]
print(max(numberList))

789

In [2]:
print(min(numberList))

15

In [6]:
b=sorted(numberList)
min_num=b[0]
min_num

15

In [7]:
max_num=b[-1]
max_num

789

In [9]:
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
uni=set(nums)
list(uni)

[1, 2, 3, 4, 5]

In [10]:
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
b=[]
for i in nums:
    if i not in b:
        b.append(i)
    else:
        continue
b

[1, 2, 3, 4, 5]

In [14]:
a="abc1235$@"
#alpha count and numeric count
alpha=0
num=0
for i in a:
    if i.isalpha():
        alpha=alpha+1
    if i.isdigit():
        num=num+1

        
print(alpha)
print(num)

3
4

In [17]:
a=[1,2,3,4,"javed","murali"]
b=tuple(a)
print(b,type(b))

(1, 2, 3, 4, 'javed', 'murali') <class 'tuple'>

In [ ]:
a=[]

In [19]:
a=list()
a

[]

In [20]:
import array  
a = [8, 9, 6, 7, 5, 2]  
print(a[-3])  #7
print(a[-5])  #9
print(a[-1])  #2

7
9
2

In [ ]:
a=[1,2,34]
b=(1,2,3)

local and global

In [ ]:
a=3
def hello():
    global b
    b=3
    
def main()

In [ ]:
split and join

In [ ]:
nums_list = [2, 4, 6, 8, 10, 12]
target_value = 14
# Output: [(4, 10), (6, 8), (2,12)]

In [22]:
a =[2, 4, 6, 8, 10, 12]
t = 14
out=[]
# Output: [(4, 10), (6, 8), (2,12)

for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==t:
            out.append((a[i],a[j]))
out

[(2, 12), (4, 10), (6, 8)]

In [23]:
syudent name marks
top5th 
50 1
40 2
30 3
20 
20 
10
10 #output

SyntaxError: invalid syntax (2179679421.py, line 1)

In [ ]:
select student_name,marks from table order by marks desc limit 1 offset 4

In [24]:
-10//3

-4

In [28]:
-11//2

-6

In [32]:
1**3**2

1

In [33]:
2**6

64

In [37]:
a="deepika"
a[2:10:-2]

''

In [ ]:
+---+-------+------------------------+---------------------+
|id |name   |info                    |subjects             |
+---+-------+------------------------+---------------------+
|1  |Alice  |{age -> 25, gender -> F}|[math, physics]      |
|2  |Bob    |{age -> 30, gender -> M}|[math, history]      |
|3  |Charlie|{age -> 28, gender -> M}|[history, literature]|
+---+-------+------------------------+---------------------+

op >
+----------+---+---+
|   subject|  F|  M|
+----------+---+---+
|   history|  0|  2|
|literature|  0|  1|
|      math|  1|  1|
|   physics|  1|  0|
+----------+---+---+

In [6]:
import pandas as pd

# Create DataFrame
data = {
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'info': [{'age': 25, 'gender': 'F'}, {'age': 30, 'gender': 'M'}, {'age': 28, 'gender': 'M'}],
    'subjects': [['math', 'physics'], ['math', 'history'], ['history', 'literature']]
}

df = pd.DataFrame(data)


df = df.explode('subjects')


pivot_table = pd.pivot_table(df, index='subjects', columns=df['info'].apply(lambda x: x['gender']), aggfunc='size', fill_value=0)

print(pivot_table)

info        F  M
subjects
history     0  2
literature  0  1
math        1  1
physics     1  0

In [2]:
df

   id     name                        info               subjects
0   1    Alice  {'age': 25, 'gender': 'F'}        [math, physics]
1   2      Bob  {'age': 30, 'gender': 'M'}        [math, history]
2   3  Charlie  {'age': 28, 'gender': 'M'}  [history, literature]

In [3]:
df = df.explode('subjects')
df

   id     name                        info    subjects
0   1    Alice  {'age': 25, 'gender': 'F'}        math
0   1    Alice  {'age': 25, 'gender': 'F'}     physics
1   2      Bob  {'age': 30, 'gender': 'M'}        math
1   2      Bob  {'age': 30, 'gender': 'M'}     history
2   3  Charlie  {'age': 28, 'gender': 'M'}     history
2   3  Charlie  {'age': 28, 'gender': 'M'}  literature

In [11]:
def solution(S):
    # Convert string to list of digits for easier manipulation
    digits = list(map(int, S))
    n = len(digits)
    
    # Iterate through the digits from left to right
    i = 0
    while i < n - 1:
        # Check if the sum of adjacent digits can create a digit greater than 9
        if digits[i] + digits[i + 1] > 9:
            # Replace the two adjacent digits with their sum
            digits[i] = digits[i] + digits[i + 1]
            # Remove the next digit
            digits.pop(i + 1)
            # Update n since we removed a digit
            n -= 1
            # If we modified the first digit, return the string
            if i == 0:
                return ''.join(map(str, digits))
            # Move the index back by 1 to check if the previous pair can also be merged
            i -= 1
        else:
            i += 1
    
    # If no changes were made, return the original string
    return ''.join(map(str, digits))

# Example usage:
s = "32581"
print(solution(s))  # Output: "559"

181

In [13]:
def solution(S):
    # Convert string to list of digits for easier manipulation
    digits = list(map(int, S))
    n = len(digits)
    
    # Flag to track if any merges were made
    merged = True
    
    while merged:
        merged = False
        
        # Iterate through the digits from left to right
        i = 0
        while i < len(digits) - 1:
            # Check if the sum of adjacent digits can create a digit greater than 9
            if digits[i] + digits[i + 1] > 9:
                # Replace the two adjacent digits with their sum
                digits[i] = digits[i] + digits[i + 1]
                # Remove the next digit
                digits.pop(i + 1)
                # Set merged flag to True
                merged = True
            else:
                i += 1

    # If no changes were made, return the original string
    return ''.join(map(str, digits))

# Example usage:
s = "32581"
print(solution(s))  # Output: "559"

19

In [18]:
def solution(S):
    """
    Finds the lexicographically largest string obtainable from a string S
    consisting of non-zero digits by repeatedly replacing adjacent pairs
    with their sum if the sum is greater than 9.

    Args:
        S: The input string.

    Returns:
        The lexicographically largest string after applying replacements.
    """

    result = list(S)
    i = 0
    while i < len(result) - 1:
        curr_digit1 = int(result[i])
        curr_digit2 = int(result[i + 1])
        new_digit = curr_digit1 + curr_digit2
        if new_digit > 9:
            result[i:i + 2] = [str(new_digit)]
            i += 1  # Move only one step after replacement
        else:
            i += 2  # Move two steps if no replacement

    return "".join(result)

# Examples
solution("32581")  # Output: "559"

'32131'

In [21]:
def solution(A, B):
  """
  Finds the largest possible side length of a square that can be formed
  by cutting two sticks of lengths A and B into four equal pieces.

  Args:
      A: Length of the first stick.
      B: Length of the second stick.

  Returns:
      The side length of the largest square, or 0 if no square is possible.
  """

  # Find the greatest common divisor (GCD) of A and B.
  gcd = get_gcd(A, B)

  # If GCD is not divisible by 4, then it's impossible to form a square.
  if gcd % 4 != 0:
    return 0

  # The largest square side is the GCD divided by 4.
  return gcd // 4

def get_gcd(a, b):
  """
  Calculates the greatest common divisor (GCD) of two numbers.

  Args:
      a: First number.
      b: Second number.

  Returns:
      The GCD of a and b.
  """

  while b != 0:
    a, b = b, a % b
  return a

# Examples
print(solution(10, 21))  # Output: 7
print(solution(13, 11))  # Output: 5
print(solution(2, 1))   # Output: 0
print(solution(1, 8))   # Output: 2

0
0
0
0

In [22]:
import math

def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

def solution(A, B):
    gcd_value = gcd(A, B)
    max_side = gcd_value

    # Check if it's possible to create a square
    if (A // gcd_value >= 4) and (B // gcd_value >= 4):
        return max_side
    else:
        return 0

# Examples
print(solution(10, 21))  # Output: 7
print(solution(13, 11))  # Output: 5
print(solution(2, 1))    # Output: 0
print(solution(1, 8))    # Output: 2

1
1
0
0

In [24]:
def solution(A, B):
  """
  Finds the largest possible side length of a square that can be formed
  by cutting two sticks of lengths A and B into four equal pieces.

  Args:
      A: Length of the first stick.
      B: Length of the second stick.

  Returns:
      The side length of the largest square, or 0 if no square is possible.
  """

  # Find the greatest common divisor (GCD) of A and B.
  gcd = get_gcd(A, B)

  # Check if it's possible to form a square:
  # - Both A and B must be even (divisible by 2).
  # - The GCD must be divisible by 4.
  if gcd % 4 != 0 or A % 2 != 0 or B % 2 != 0:
    return 0

  # Largest square side is the GCD divided by 4.
  return gcd // 4

def get_gcd(a, b):
  """
  Calculates the greatest common divisor (GCD) of two numbers.

  Args:
      a: First number.
      b: Second number.

  Returns:
      The GCD of a and b.
  """

  while b != 0:
    a, b = b, a % b
  return a

# Examples
print(solution(10, 21))  # Output: 7
print(solution(13, 11))  # Output: 0 (not both even)
print(solution(2, 1))   # Output: 0
print(solution(1, 8))   # Output: 0 (not both even)
print(solution(12, 16))  # Output: 4

0
0
0
0
1

In [42]:
c="sannas"
z="ad728g15bf"
t =c+z
f=""
for i in range(len(t)):
    if (i+1)%3==0:
        f=f+"X"
    else:
        f=f+t[i]
f

'saXnaXadX28X15Xf'