In [9]:
a="A5D2B1"  #ABD125
b=[]
d=[]
for i in a:
    if i.isdigit():
        d.append(i)
    else:
        b.append(i)
c="".join(sorted(b)+sorted(d))
print(c)

ABD125

In [18]:
a=["cat","hat","cat","apple","cat","apple","pat","cat","hat","hat"]  #['hat', 'cat']
b=[]
for i in a:
    if a.count(i)>=3:
        b.append(i)
set(b)

{'cat', 'hat'}

In [31]:
a = [1, 2, 3, 4, 5, 9, 8]
max_pro=0
for i in range(len(a)):
    for j in range(i+1,len(a)):
        product=a[i]*a[j]
        if product>max_pro:
            max_pro=product
            pair=[a[i],a[j]]
        

pair

[9, 8]

In [36]:
a=[2,7,6,7,8,2]
n=9
b=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n and len(b)==0:
            b.append(i)
            b.append(j)
            
b

[0, 1]

In [49]:
a=["appl23e1224","2844ban45ana","o45range48739"]
alpha=[]
numeric=[]
for i in a:
     al=""
     nu=""
     for j in i:
        if j.isalpha():
            al=al+j
        else:
            nu=nu+j
     alpha.append(al)
     numeric.append(nu)
alpha

['apple', 'banana', 'orange']

In [51]:
numeric

['231224', '284445', '4548739']

In [ ]:
[1,23,45,55,21] ---------> # [1, 5, 9, 10, 3]

In [58]:
a=[1,23,45,55,21]
b=[]
for i in a:
    c=0
    for j in str(i):
         c=c+int(j)
    b.append(c)
        
b

[1, 5, 9, 10, 3]

In [59]:
a="h"
b=int(a)

ValueError: invalid literal for int() with base 10: 'h'

In [61]:
a="aabbvbd" #v
c={}
for i in a:
    if i in c:
        c[i]=c[i]+1
    else:
        c[i]=1
for i,j in c.items():
    if j==1:
        print(i)
        break

v

In [5]:
def hello(n):
    if n>10:
        return 1 # stopping condition 
    print(n)
    hello(n+1)

hello(1)

1
2
3
4
5
6
7
8
9
10

In [7]:
def hello(n):
    if n==0:
        return 1
    print(n)
    hello(n-1)

hello(10)

10
9
8
7
6
5
4
3
2
1

In [10]:
def fac(n):
    if n==0:
        return 1
    return n*fac(n-1)
fac(5)

120

In [12]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [16]:
a=[1, 2, [3, 4, [5, 6]], 7]
def hello(sub):
    nested=[]
    def mini(sub):
        for i in sub:
            if type(i)==list:
                mini(i)
            else:
                nested.append(i)
    mini(sub)
    return nested
hello([1, 2, [3, 4, [5, 6]], 7])

[1, 2, 3, 4, 5, 6, 7]

In [20]:
a={"name":123,"marks":300,"apple":321}
a={k:v for k,v in sorted(a.items())}
a

{'apple': 321, 'marks': 300, 'name': 123}

In [1]:
a={"name":123,"marks":300,"apple":321}
b={k:v for k,v in sorted(a.items(),key=lambda v:v[1])}
b

{'name': 123, 'marks': 300, 'apple': 321}

In [34]:
a=[1,2,3,4,5,6,7]
n=6
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==n:
            print(a[i],a[j])

1 5

In [40]:
src=[2,7,8,9,15]
def missing(src):
    miss=[]
    a=max(src)
    for i in range(min(src)+1,a+1):
        if i not in src:
            miss.append(i)
    return miss
missing([2,7,8,9,15])

[3, 4, 5, 6, 10, 11, 12, 13, 14]

In [52]:
n=4
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *

In [61]:
a=['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']
b="Thursday"
if b in a:
    c=a.index(b)
    print(a[c+1::])

['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday']

In [80]:
a="9030170201"
def valid_phone(a):
    if len(a)!=10:
        return "invalid"
    for i in a:
        if not i.isdigit():
            return "invalid"
    if a[0] not in ["9","7","6"]:
        return "Invalid"
    return "valid"
a="9030170201"
valid_phone(a)

'valid'

ip="127.124.123.123"

In [9]:
a=[1,1,2,3,4,2,1,1,1,4,5,5,5,5,5,6,5,4,5,5]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
c=max(b,key=b.get)
print(b[c])

8

In [15]:
def add(n):
    num=n%9
    if num==0:
        print(9)
    else:
        print(num)
add(129)

3

In [21]:
a=12345
res=0
while a!=0:
    res=res*10+a%10
    print(res)
    a=a//10
    print(a)
res

5
1234
54
123
543
12
5432
1
54321
0

54321

In [22]:
a=12345
rev=0
while a!=0:
    rev=rev*10+a%10 
    print(rev)
    a=a//10
    print(a)

rev

5
1234
54
123
543
12
5432
1
54321
0

54321

In [55]:
def main(fun):
    def sub():
        a=fun()
        print(a//2)
    return sub()
@main
def mult():
    return 5*6

15

In [ ]:
__repr__  # work

In [33]:
import pandas as pd
data={"Name":["javed","ram"],"age":[23,34]}
df=pd.DataFrame(data)
df

    Name  age
0  javed   23
1    ram   34

In [ ]:
address- [{addr1;"ln1",city:"", state":"},{addrs1;"ln1",city:"", state":"}]

In [37]:
df["address"]=[{"addr1":"ln1","city":"", "state":""},{"addrs2":"ln2","city":"", "state":""}]

In [38]:
df

    Name  age                                     address
0  javed   23   {'addr1': 'ln1', 'city': '', 'state': ''}
1    ram   34  {'addrs2': 'ln2', 'city': '', 'state': ''}

In [41]:
df["address"]

0     {'addr1': 'ln1', 'city': '', 'state': ''}
1    {'addrs2': 'ln2', 'city': '', 'state': ''}
Name: address, dtype: object

In [48]:
df["city"]=df.iloc[0,2]["city"]
df["city"]="ind"
df

    Name  age                                     address city
0  javed   23   {'addr1': 'ln1', 'city': '', 'state': ''}  ind
1    ram   34  {'addrs2': 'ln2', 'city': '', 'state': ''}  ind

In [ ]:
df1.merge(df2,df["x"],how="left")

In [ ]:
table.columnanem table2.columname

In [50]:
a="hello"
str(a)

'hello'

In [51]:
repr(a)

"'hello'"

In [68]:
a=12345
b=""
for i in range(len(str(a))):
    c=a%10
    b=b+str(c)
    a=a//10
print(b)

54321

In [82]:
n=5
for i in range(n):
    for j in range(n,0,-):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1 0
3 2 1 0 -1
2 1 0 -1 -2
1 0 -1 -2 -3

In [13]:
#valid phone no

# step1:length should be equal to 10
# step2:all elelments should be digits
# step3:number should start with 9 or 8 or 7 or 6

In [58]:
def valid_phone_no(num):
    if len(num)!=10:
        return "Invalid"
    for i in num:
        print(type(i))
        if not i.isdigit():
            return "Invalid"
    if num[0] not in [9,8,6,7]:
        return "Invalid"
    return "Valid"
valid_phone_no("8090909090")

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

'Invalid'

In [57]:
a="8090909090"
b=a[0]
print(type(b))
if b.isdigit():
    print("true")

<class 'str'>
true

In [ ]:
# pan card validator

In [ ]:
ABCDE 1234 K
length=10
first 5 char-->alpa+upper
nect 4 chr-->digits
last charcter-->alpha+upper

In [52]:
def pan_validate(num):
    if len(num)!=10:
        return "Invalid"
    for i in range(0,5):
        if not num[i].isalpha() or not num[i].upper():
            return "Invalid"
    for i in range(5,9):
        if not num[i].isdigit():
            return "Invalid"
    if not num[-1].isupper() or not num[i].upper():
        return "Invalid"
    return "Valid"
pan_validate("ABCDE1234E")

'Valid'

In [60]:
a="hello"
a.upper()

'HELLO'

In [62]:
a="hello"
if a.islower():
    print("yes")

yes

In [5]:
a=[(1,"apple"),(2,"mango")]
for _,v in a:
    print(v)

apple
mango

In [15]:
x=3
binary_representation = format(x, '04b')
binary_representation

'0011'

In [10]:
x = 1
shifted_value = x << 2
result = int(bin(shifted_value), 2)
print(result)

4

In [22]:
x="0100"
res=int(x,16)
res

256

In [16]:
bin(3)

'0b11'

1

In [7]:
a="mjaveed1.its@gmail.com"
re=a.split("@")
name=re[0]
domain=re[1]
res=name[0]+(len(name)-2)*("*")+name[-1]+"@"+domain
res

'm**********s@gmail.com'

In [15]:
new="abcd"
for i in range(len(new)):
    for j in range(i+1,len(new)+1):
        print(new[i:j])

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [31]:
s = "aaaabbaa"
c=""
d=[]
for i in range(len(s)):
    tem=s[i]
    for j in range(i+1,len(s)):
        tem=tem+s[j]
        if tem==tem[::-1]:
            d.append(tem)
c={i:len(i) for i in d}
c[max(c,key=c.get)]

6

In [56]:
a="aaaAAbbcccbd"
print(len(a))
b=""
for i in range(len(a)):
    if i==len(a)-1 or a[i]!=a[i+1]:
            b=b+a[i]
            print(b)

12
a
aA
aAb
aAbc
aAbcb
aAbcbd

In [37]:
print("a"=="a")

True

In [63]:
i = "my name is javed"
# mY nAmE iS jAvEd
res=i.split()

b=[]
for j in res:
    temp=""
    for k in range(len(j)):
        if k%2!=0:
           temp=temp+j[k].upper()
        else:
            temp=temp+j[k]
    b.append(temp)
out=" ".join(b)
out

'mY nAmE iS jAvEd'

In [66]:
s = "aaaabbaa"
b=[]
for i in range(len(s)):
    temp=s[i]
    for j in range(i+1,len(s)):
        temp=temp+s[j]
        if temp==temp[::-1]:
            b.append(temp)
b

['aa', 'aaa', 'aaaa', 'aa', 'aaa', 'aa', 'aabbaa', 'abba', 'bb', 'aa']

In [71]:
input= ("A", "B", "C") 
#[('A', 'B'), ('A', 'C')]
f=input[0]
d=[]
for i in input:
    if i==f:
        continue
    else:
        d.append((f,i))
d

[('A', 'B'), ('A', 'C')]

In [81]:
import string
import random
d=[]
for i in range(0,2):
    c=random.choice(string.ascii_lowercase)
    d.append(c)
for i in range(0,5):
    c=random.choice(string.ascii_lowercase+string.digits)
    d.append(c)
for i in range(0,2):
    c=random.choice(string.ascii_lowercase)
    d.append(c)
print("".join(d))

gen911imw

In [82]:
a=4
b=6 
c=0
for i in range(0,b):
   c=c+a
c

24

In [ ]:
algorithm to serialize binary and

In [8]:
a=[0,2,3,4,5,10]  # 1,6,7,,8,9
b=max(a)
missing=[]
for i in range(b+1):
    if i not in a:
        missing.append(i)
missing

[1, 6, 7, 8, 9]

In [ ]:
find teh avg and  highet slaary of all emplyee in each dep 

select dep,max(salary),avg(salary) from table group by dep;

In [ ]:
names of emp who salry is higher than the avg salary
select names_emplyee from table where salary >
(select avg(salary) from table)

In [ ]:
names of emp who has highest salary in each dep

In [ ]:
#names of employees who have the highest salary within each department

select employees,dep from table group by dept having maxSalary

In [12]:
a=[1,2,3,1,2,3,1,1]
from collections import Counter
def occurance(a):
    res=Counter(a)
    return res
a=[1,2,3,1,2,3,1,1]
occurance(a)

Counter({1: 4, 2: 2, 3: 2})

In [14]:
a=[1,2,3,1,2,3,1,1]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
b

{1: 4, 2: 2, 3: 2}

In [18]:

def main(fun):
    def sub():
        print("this is the exgtra functinality added on top of prod data")
        fun()
    return sub()
@main

def hello():
    print("this code is present in prod env")

this is the exgtra functinality added on top of prod data
this code is present in prod env

In [ ]:
from fastapi import FastAPI
app=FastAPI()

app.get("/")
def hello():
    return {"data":"helloworld"}

uvicorn main:app --reload

In [ ]:
#(1, 2, 3 , [4,5,6], 7,8) 
#list comprehension usage using for loop and list comphresion

In [1]:
a=[1,2,3,4,5] 

b=[i*2 for i in a if i%2==0]
b

[4, 8]

In [7]:
a={"A": 10, "X": 1, "B": 3, "C": 2}
b=dict(sorted(a.items(),key=lambda x:x[1]))
b

{'X': 1, 'C': 2, 'B': 3, 'A': 10}

In [8]:
class hello:
    def parent(self):
        print("this is parent")
class main(hello):
    def parent(self):
        print("this is child")
obj=main()
obj.parent()

this is child

In [ ]:
#method overloading
class hello:
    def parent(self,firstname="",lastname=""):
        print("this is parent")

In [19]:
#parameter dec

def abc(fun):
    def sub(a,b):
        res=fun(a,b)
        out=res+10
        
    return sub
@abc
def main(a,b):
    return a+b
x=main(2,3)
print(x)

5

In [20]:
try:
    5//0
except Exception as e:
    print(e)
finally
else

integer division or modulo by zero

In [ ]:
a={ }[ ]  ["{","["]   b=["{","["], c=b.pop()
{[()]}
[[
]]
[[}}

In [39]:
a="[[}}"
b=["{","[","("]
c=[]
def balance(a):
    b=["{","[","("]
    c=[]
    for i in a:
        if i in b:
            c.append(i)
        else:
            if len(c)!=0:
                d=c.pop()
                if d=="{":
                    if i=="}":
                      pass 
                    else:
                        return "False
                elif d=="[":
                    if i=="]":
                        pass
                    else:
                        return False
        
                elif d=="(":
                    if i==")":
                        pass
                    else:
                        return False
    print(len(c))
    if len(c)==0:
        print("balanced")
    else:
        print("Not balance")
                    
a="[[}}"               
balance(a)

0
balanced